
.contacts {
margin: 60px 0;
}
.contact-adress {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.contact-adress h2 {
	padding-bottom: 40px;
}
.contact-adress p {
	padding: 0 0 15px 0;
}
.contact-adress a {
	color: #000;
}
.contact-adress span {
	font-weight: 600;
	font-size: 18px;
}

.fix-width {
	display: inline-block;
	font-weight: 300 !important;
	min-width: 200px;
}