header {
	background-color: #000;
	color: #fff;
	height: 100vh;
	background-image: url(..//img/bg5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;	
	
}
.logo {
	display: flex;
	align-items: center;
}

.logo img{
	width: 70px;
	height: auto;
	margin-right: 5px;
	display: inline-block;
}
.logo-text {
	font-size: 20px;
	font-weight: 500;
	display: inline-block;
	
}
nav {
	color: #fff;
	background-color: rgba(75, 109, 72, 75%);
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 99;
}
.nav ul, .navigation {
	display: flex;
	align-items: center;
	justify-content: center;
}
li {
	margin-right: 30px;
}
.phone {
	display: flex;
	justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}
.nav-btn {
	background-color: #fff;
	border: 3px solid #fcb303;
	width: 150px;
	height: 40px;
	color: #fcb303;
}
.icons {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.icons-nav i {
	font-size: 20px;
	padding-left: 15px;
}







				/*Offer*/
.offer-container {
	height: 80%;
}
 .offer-row {
	height: 85%;
    align-content: flex-end;
}
h1 {
	font-size: 46px;
	font-weight: 700;
	margin-top: 0;
  	margin-bottom: 2rem;
  	line-height: 3rem;
  	color: black;
 }
.offer span {
  	color: red;
  	font-size: 38px;	
  	font-weight: 900;
}
.main-subtitle {
	margin-bottom: 1rem;
	font-size: 30px;
	line-height: 2rem;
	color: #000;
}	




.form-checkbox {	
    vertical-align: middle;
    margin-top: -3px;
     cursor: pointer;
}

