header {
	background-color: #b7b9b6;
	color: #fff;
	height: 100vh;
	background-image: url(..//img/bg5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;	
	
}
.logo, .logotip {
	display: flex;
	align-items: center;
}

.logo img{
	width: 70px;
	height: auto;
	margin-right: 5px;
	display: inline-block;
}
.logo-text {
	font-size: 20px;
	font-weight: 500;
	display: inline-block;
	
}
nav {
	color: #fff;
	background-color: rgba(75, 109, 72, 75%);
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 99;
}
.navbar {transition: 0.4s ease;}
.nav ul, .navigation {
	display: flex;
	align-items: center;
	justify-content: center;
}
nav li {
	margin-right: 30px;
}
.phone {
	display: flex;
	justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}
.nav-btn {
	background-color: #fff;
	border: 3px solid #fcb303;
	width: 150px;
	height: 40px;
	color: #fcb303;
}
.icons {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.icons-nav i {
	font-size: 20px;
	padding-left: 15px;
}







				/*Offer*/
.offer-container {
	height: 100%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-moz-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
}

.hero {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
h1 {
	font-size: 46px;
	font-weight: 700;
	margin-top: 0;
  	margin-bottom: 2rem;
  	line-height: 3rem;
  	color: black;
 }

.offer{
 	width: 50%;
 }
 
.offer span {
  	color: red;
  	font-size: 38px;	
  	font-weight: 900;
}
.main-subtitle {
	margin-bottom: 1rem;
	font-size: 30px;
	line-height: 2rem;
	color: #000;
}	
.form-checkbox {	
    vertical-align: middle;
    margin-top: -3px;
     cursor: pointer;
}

.burger, .burger-menu__button {
	min-width: 40px;
	height: 50px;
	position: relative;
}
.burger #burger2 {
	display: block;
	position: absolute;
	top: calc(50% - 2px);
	height: 4px;
	width: 100%;
	background-color: #fff;
}
.burger #burger3 {
	display: block;
	position: absolute;
	bottom: 10px;
	height: 4px;
	width: 100%;
	background-color: #fff;
}
.burger #burger1 {
	display: block;
	position: absolute;
	top: 10px;
	height: 4px;
	width: 100%;
	background-color: #fff;
}
.header-burger {
	display: none;
    justify-content: flex-end;
}
.burger-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateX(100%);
	background-color: rgba(75, 109, 72, 75%);
	z-index: 999;
	transition: 0.6s ease;
}
.burger-menu_active {
	transform: translateX(0);
}

#burger4, #burger5 {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background-color: #fff;
	top: calc(50% - 2px);

}
#burger4 {
	transform: rotate(45deg);
}
#burger5 {
	transform: rotate(-45deg);
}
.burger-menu-container {
	flex-direction: column;
	align-items: flex-end;
	display: flex;
	padding-top: 10px;
}
.burger-menu ul {
	text-align: right;
}
.burger-menu ul li, .burger-menu__button {
	margin-bottom: 25px;

}
.burger-menu ul li a {
	font-size: 30px;
}